@charset "utf-8";
/* CSS Document */
body {margin:0px; font: normal "Trebuchet MS", Arial, Helvetica, sans-serif;}
.header {background-color:#045; height:35px;}
.header img {
    width: 128px;
    height: 28px;
}
.logo {
    float: left;
    margin-top: 3px;
}