@charset "utf-8";
div[data-role="page"] {
    font-size: small;
	background-color:#eee;
}
.main {
	width:90%;
}
/* CSS Document */
#rslt {
    list-style: none;
	padding-left: 20px;
}
#rslt li {
    padding: 5px 0px;
}
#rslt a {
	text-decoration:none;
}
#rslt a:hover {
	color:#0ad;
}
#session {
    border: none;
    background-color: #0AD;
    color: #FFF;
    text-shadow: none;
    font-weight: 100;
}
#student-details {
    padding: 10px;
	height:175px;
	margin-top:50px;
}
#student-details img {
	width:64px;
	margin-left:20px;
	float:left;
}
#student-details ul {
    float: left;
    padding: 0px;
    margin: 0px 20px;
    list-style: none;
}
#cgpa, #status {
    background-color: transparent;
}
@media only screen and (min-width: 61.1875em) {
.main {
	width:60%;
}
#student-details img {
	width:128px;
}
}