@charset "utf-8";
/* CSS Document */
#header {
    height: 60px;
	padding: 0 15px;
	background-color:#0ad;
	border:none;
}
.site-title {
    font-size: 45px;
    text-shadow: none;
}
.site-title a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
}
.site-title a:hover {
	color:#fff;
}
.main a {
    text-decoration: unset;
    text-shadow: none;
    font-weight: 100;
    font-size: 12px;
}
.main a:hover {
	text-decoration:underline;
}
.main-title {
    font-size: 35px;
}
