@charset "utf-8";
/* CSS Document */
body {font:100% normal "Trebuchet MS", Arial, Helvetica, sans-serif}
.main, .sidebar {display:block; width:100%;}
#main-header {
    background-color: #0ad;
    padding: 0 15px;
    border: none;
}
#content {
    position: absolute;
    width: 100%;
}
#header {
	height:33px;
    padding-top: 16px;
    background-color: rgb(238, 238, 238);
    border: medium none;
    text-align: center;
}
#site-logo {
    font-size: 42px;
    font-weight: 100;
}
#site-logo a {
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-shadow: none;
}
#menu-btn {
    margin-left: 70%;
    margin-top: 8px;
    background-color: #0ad;
    color: #fff;
	box-shadow:none;
    text-shadow: none;
}
.ui-navbar {
    width: 90%;
    margin-left: 5%;
	margin-right:5%;
}
#active {
	background-color:#fff;
	border: 1px solid #ccc;
	border-bottom:none;
	text-shadow:none;
	box-shadow:none;
	color:#888;
}
#nav {
    background: none;
    border: none;
    text-shadow: none;
	box-shadow:none;
}
#staffpic {
	display:block;
    height: 185px;
    background: #fff;
    text-shadow: none;
    color: #111;
}
#staffpic div:nth-child(1) {
    background: url(../images/bg-mobile.jpg) no-repeat 0% 0% #fff;
    padding: 10px;
    height: 64px;
}
#staffpic div:nth-child(1) img {
	width:64px;
	margin-top: 50px;
	border: 3px solid #fff;
}
#staffpic ul {
    padding: 0px;
    list-style: none outside none;
    margin-left: 82px;
	font-size:14px;
    margin-top: 0px;
}
#course {
	width:84%;
    display: block;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
	margin-top:15px;
}
.course-title {
    font-size: 14px;
    color: #888;
}
#course-id {
	font-size:36px;
}
#course-navbar ul li a {
    background: #eee;
    border: none;
    color: #000;
    font-size: 12px;
    font-weight: 100;
    text-shadow: none;
}
#post {
    padding: 10px;
    background-color: #eee;
}
#post form div {
    box-shadow: none;
    border-radius: 0px;
}
#post textarea {
    box-shadow: none;
    border-radius: 0px;
	font-size: 12px;
	color: #888;
	text-align:left !important;
}
#post textarea:focus {
	color:#111;
}
#post button {
    width: 75px;
    background-color: tomato;
    color: #fff;
    text-shadow: none;
    font-weight: 100;
    border: none;
    box-shadow: none;
	border-radius:0;
}
#scores table {
    font-size: small;
	text-shadow:none !important;
	border:1px solid #0ad;
}
#scores table thead th {
    background-color: #0ad;
    color: #FFF;
    text-shadow: none;
	padding: 5px;
}
#scores > table > tbody > tr > td > div {
    border-radius: 0px;
    box-shadow: none;
	border: none;
}
#scores > table > tbody > tr:nth-child(2n+2) > td,
#scores > table > tbody > tr:nth-child(2n+2) > th,
#scores > table > tbody > tr:nth-child(2n+2) > td > div {
	background-color: #CCC;
}
#reset-btn, #submit-btn {
    border-radius: 0px;
    box-shadow: none;
    background-color: #FF6347;
    color: #FFF;
	width:128px;
    text-shadow: none;
    font-weight: 100;
    font-size: small;
}
#submit-btn {
	background-color:  #0AD;
}
#footer {
    background-color: #045;
    color: #fff;
    text-shadow: none;
    font-size: 14px;
}
#footer ul {
    padding: 10px;
    list-style: none;
    margin-top: 0;
}
#footer a {
    text-decoration: none;
    font-weight: 100;
}
@media only screen and (min-width: 479px) {
#post {
    width: 463px;
}
.ui-navbar {
	width:256px;
}
#course {
    float: left;
    width: 300px;
	margin-right:15px;
	border-radius: 5px;
}
#course:hover #course-navbar a {
	background-color:transparent;
	box-shadow:none;
}
